.Login {
    background-color: white;
    height: 100vh;
    font-family: "Avenir Next", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login-name {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    color: white;
    background: linear-gradient(90deg,#03d2b3 0,#0988f5);
    box-shadow: 0 2px 15px rgba(5,201,185,.37);
    position: relative;
}

.Login-name-overlay {
    position: absolute;
    height: 194px;
    width: 194px;
    border-radius: 200px;
    color: black;
    background-color: white;
    top: 3px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.Login-username-base {
    background: linear-gradient(90deg,#03d2b3 0,#0988f5);
    height: 30px;
}

.Login-username {
    border: none;
    outline: none;
    width: 260px;
    text-align: center;
    color: white;
    padding: 2px 0 5px 0;
    margin: 0 0 5px 0;
    font-size: 14px;
    font-family: "Avenir Next", sans-serif;
    z-index: 1;
}

.Login-button {
    background: linear-gradient(90deg,#03d2b3 0,#0988f5);
    box-shadow: 0 2px 15px rgba(5,201,185,.37);
    width: 200px;
    height: 35px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
}