.Account {
    margin-top: 60px;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 120px);
}

.Account-button {
    margin-top: 25px;
    outline: none;
    border: none;
    background-color: #00b899;
    color: white;
    border-radius: 20px;
    width: 290px;
    height: 38px;
    font-family: "Avenir Next", sans-serif;
    font-size: 12px;
    padding-top: 3px;
    letter-spacing: 2px;
}

.Account-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background: linear-gradient(135deg, #5791ba 0, #9e577b);
}

.Account-avatar {
    width: 90%;
    margin-left: 8px;
}

.Account-display-name {
    margin-top: -14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Account-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Account-rank {
    color: #00d4b4;
    font-size: 11px;
    letter-spacing: 2px;
}

.Account-controls {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: calc(100% - 80px);
}

.Account-control {
    width: 100%;
    padding: 16px 0;
    background-color: rgba(256,256,256,0.2);
    margin: 1px 0;
}

.Account-name {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Account-edit {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.credits {
    font-size: 13px;
    color: #9e577b;
    letter-spacing: 2px;
    position: absolute;
    bottom: 60px;
    font-family: "AvenirNext-Medium", sans-serif;
}